extends layouts/default

append vars
	- var page = 'index'
	- var description = manifest.description

block content

	main.layout(role='main')

		h1.appName= manifest.short_name

		p= manifest.description
		include parts/example
		include parts/icons

		section
			include parts/samplecontent



