section
	h1 App icons
	p The icons are taken from #[strong manifest.json]

	p
		each image in manifest.icons || []
			img(src=image.src.substr(1), alt=image.sizes, title=image.sizes)
		else
			em App manifest is not provided.
