mixin shape(name, title)

	svg(class='shape shape-' + name)&attributes(attributes)

		if title
			title= title

		use(xlink:href=`${assetPath}/sprites/shapes.svg#shape-${name}`)

		//- IE fallback
		use(xlink:href=`#shape-${name}`)
